

hr {
    width: 72% !important;
}

img {
    width: 60%;
    margin-left: 76px;
}

.container {
    color: white;
}

.title-sub-menu {
    font-size: 1rem;
}

.progress-bar {
    background-color: #ffc107 !important;
}